<!DOCTYPE html>
    <head>
        <title> MLiDar | Documents </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
        <link href="../static/css/page_styles.css" rel="stylesheet">
        <style type="text/css">
            .des-screen-on { 
             display: block;
            }
            .des-screen-off { 
             display: none;
            }
    </style>
    </head>
    <body>
        <div class="screen sc-01">
            <div class="collapsible-menu">
                <input type="checkbox" id="menu">
                <label for="menu">MLiDar Document</label>
                <div class="menu-content">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/scanner">Scanner</a></li>
                        <li><a href="/document">Documents</a></li>
                        <li><a href="/track">Track Parcels</a></li>
                    </ul>
                </div>
            </div>
            <div class="des-screen-on" id="rady">
                <div class="description">
                    <h1 style="color: #228b22">ตารางแสดงผล</h1>
                    <div class="table-doc" style="margin-left: 15px; padding-bottom: 20px;">
                        <table border="1" 1cellspacing="5" width="80%" height="5" align="center">
                        <thead>
                            <td align="center">Date</td>
                            <td align="center">Track</td>
                            <td align="center">Sender</td>
                            <td align="center">Addressee</td>
                            <td colspan="2" align="center" width="10%">Tools</td>

                        </thead>
                       
                        {% for row in rows %}
                            <tr>
                               <td>{{ row[0] }}</td>
                               <td>{{ row[1] }}</td>
                               <td>{{ row[6] }}</td>
                               <td>{{ row[7] }}</td>
                               <td><form action="/del/{{ row[1] }}" method="post"> <input type="submit" value="Delete" /> </form></td>
                               <td><form action="/edit/{{ row[1] }}" method="post"> <input type="submit" value="Edit" /> </form></td>
                               
                            </tr>
                        {% endfor %}
                    </div>
                </div>
               
            </div>
            
        </div>
       
        
        
    </body>
</html>
