<!DOCTYPE html>
    <head>
        <title> MLiDar | Scanner </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
        <link href="../static/css/page_styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="screen">
            <div class="collapsible-menu">
                <input type="checkbox" id="menu">
                <label for="menu">MLiDar Document</label>
                <div class="menu-content">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/scanner">Scanner</a></li>
                        <li><a href="/document">Documents</a></li>
                        <li><a href="/track">Track Parcels</a></li>
                    </ul>
                </div>
            </div>
            <div class="description">
                <h1>Engine Status : {{ engSta }}</h1>
                
            </div>
            <div class="description-obj">
                <h2>{{ genTrack }} </h2>
                <h3> {{ detail }} </h3>
            </div>
        </div>
       
        <div class="container">
            <a href="/scanner/clear" class="action-button animate shadow">Clear</a>
           
            <a href="/scanner/scan"" class="scan action-button shadow animate green">Scan</a>
            <a href="/add" class="scan action-button shadow animate green">Add Item</a>
        </div>     
        
    </body>
</html>