<!DOCTYPE html>
    <head>
        <title> MLiDar | Home </title>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
       <link href="../static/css/styles.css" rel="stylesheet">

    </head>
    <body>
        <div class="grid-container">
            <h1> MLiDar </h1>
            <div class="menu-content">
                <ul>
                    <li><a href="/scanner">Scanner</a></li>
                    <li><a href="/document">Document</a></li>
                    <li><a href="/track">Track parcels</a></li>
                </ul>
        </div>
        <div class="under-container">
            <a style="color: rgba(0, 0,0,1);"> Project by : Watcharapong Sookpun <br/></a>
            <a> THAMMASAT UNIVERSITY </a>
        </div>
    </body>
</html>