<!DOCTYPE html>
    <head>
        <title> MLiDar | Scanner </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
        <link href="../static/css/page_styles.css" rel="stylesheet">
        <style type="text/css">
            .des-screen-on { 
             display: block;
            }
            .des-screen-off { 
             display: none;
            }
    </style>
        <script type="text/jscript">
        
         function showTxt(n){
             rad = document.getElementById('rady');
             rad.className = "des-screen-off";
             sta = document.getElementById('sta');
             sta.className = "des-screen-on";
             red = document.getElementById('redput');
             red.className = "des-screen-on";
            
         }

        </script>
    </head>
    <body>
        <div class="screen sc-01">
            <div class="collapsible-menu">
                <input type="checkbox" id="menu">
                <label for="menu">MLiDar Scanner</label>
                <div class="menu-content">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/scanner">Scanner</a></li>
                        <li><a href="/document">Documents</a></li>
                        <li><a href="/track">Track Parcels</a></li>
                    </ul>
                </div>
            </div>
            <div class="des-screen-on" id="rady">
                <div class="description">
                    <h1 style="color: #228b22">เมลิดาร์พร้อมใช้งานแล้ว</h1>
                </div>
                <div class="description-obj"  >
                  
                   </div>  
            </div>
            <div class="des-screen-off" id="sta">
                <div class="description">
                    <h1 style="color: #cd5c5c">เมลิดาร์กำลังทำงาน</h1>
                </div>
                <div class="des-sreec-off" id="redput">
                    <div class="description-obj" >
                         <iframe width="560" height="315" src="https://www.youtube.com/embed/Sbr9dbCHY1s?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               
                    
                    </div>  
                </div>
            </div>
        </div>
        <div class ="des-screen-on" id="container-button">
            <div class="container" >
                <a href="/"  onclick="return confirm('คุณแน่ใจใช่ไหมว่าจะล้างข้อมูลในหน้านี้ ?')" id="clr" class="clear_bt action-button animate">Cancel</a>
                <a href="/scanner/scan" class="scan action-button  animate green"  onClick="showTxt(1)">Scan</a>
            </div>
        </div> 
        
        
    </body>
</html>
