<!DOCTYPE html>
    <head>
        <title> MLiDar | Tracking </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
         <link href="../static/css/page_styles.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="screen">
            <div class="collapsible-menu">
                <input type="checkbox" id="menu">
                <label for="menu">MLiDar Tracking</label>
                <div class="menu-content">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/scanner">Scanner</a></li>
                        <li><a href="/document">Documents</a></li>
                        <li><a href="#">Track Parcels</a></li>
                    </ul>
                </div>
            </div>
            <div class="description">
                <h1>ค้นหาพัสดุ</h1>
                <div class="form_box" style="display:{{ frm_display }}">
                    <form action="/track/find" class="input_box" method="POST">
                        <h2>Tracking No.</h2>
                        <input type="text" name="trackNo" size="50"><br><br>
                        <input class="scan action-button  animate green" type="submit" value="ค้นหา">
                    </form>  
                </div>
                <div class="description-obj">
                    <h2 style="color: {{cl}}">{{ trackNo }} </h2>
                    <h3> {{ description_detail }} </h3>
                    <label>{{ date }}</label><br><br>
                    <label>{{ sender }} <br><br> {{addressee}}</label>
                </div>
            </div>
            
        </div>
            
        
       
          
        
    </body>
</html>
